#section-time-table
  ul.time-table-list
    list-style-type: none
    margin: 0
    padding: 0
    li
      display: table
      width: 100%
      line-height: 25px
      margin-bottom: 1%
      border: 1px solid #eeeeee
      -webkit-border-radius: 4px
      border-radius: 4px
  .head
    padding: 5px 7px
    background-color: #f7f7f7
    +at-breakpoint($break-tablet)
      display: block
      width: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
    +at-breakpoint($break-desktop)
      display: table-cell
      width: 20%
      padding: 7px
      border-right: 1px solid #eeeeee
    .time
      display: inline
      margin-right: 7px
      font-weight: bold
    .speaker-name
      display: inline
      color: #777777
  .body
    padding: 5px 7px
    +at-breakpoint($break-tablet)
      display: block
    +at-breakpoint($break-desktop)
      display: table-cell
      padding: 7px

#section-speaker
  ul.speaker-list
    list-style-type: none
    margin: 0
    padding: 0
    li.speaker-list-item
      line-height: 25px
      margin-bottom: 20px
      +at-breakpoint($break-desktop)
        margin-bottom: 3%
  .session
    display: inline-block
    min-height: 2.8em
    line-height: 1.4
    margin-bottom: 10px
    padding-top: 10px
    font-size: 153.9%
    font-weight: bold
    vertical-align: middle
  .speaker
    display: table
    width: 100%
  .avatar
    display: table-cell
    width: 150px
    img
      width: 150px
      -webkit-border-radius: 6px
      border-radius: 6px
      &:hover
        opacity: 0.8
  .info
    display: table-cell
    vertical-align: top
    padding-left: 20px
  .names
    display: table
    width: 100%
    margin-bottom: 15px
    line-height: 1.2
    .fullname
      display: table-cell
      font-size: 100%
      font-weight: bold
      letter-spacing: 0.03em
    .sns
      display: table-cell
      text-align: right
    i
      width: 22px
      height: 22px
      line-height: 22px
      margin-left: 1%
      -webkit-border-radius: 50%
      border-radius: 50%
      color: $white
      font-size: 85%
      text-align: center
      vertical-align: moddle
      opacity: 0.5
      &:hover
        opacity: 1.0
    .icon-github-alt
      background-color: #777
  .detail
    display: table
    width: 100%
    padding-top: 15px
    font-size: 100%
    color: #777
    border-top: 1px solid #eeeeee
    line-height: 1.4

#section-lt
  div
    padding: 10px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    p
      margin-bottom: 5%
  .btn-green
    +at-breakpoint($break-tablet)
      margin-top: 0
    +at-breakpoint($break-desktop)
      margin-top: 13px

#section-team
  ul.team-list
    list-style-type: none
    margin: 0
    padding: 0
    li.team-list-item
      position: relative
      line-height: 25px
      margin-bottom: 2%
      img
        -webkit-border-radius: 3px
        border-radius: 3px
        &:hover
          opacity: 0.8
    .userid
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      color: $white
      font-size: 80.4%
      font-weight: bold
      text-align: center
      text-shadow: 0 0 3px rgba(0, 0, 0, 1.0)
      letter-spacing: 0.03em
      z-index: 1
