%header{role: "banner"}
  .header-inner
    .header-global
      %mark
        %a{href: "/index.html", style: "display: inline-block"}
          %object{data: "assets/img/logo-black.svg", height: "40px", object: "", onload: "if (this.getSVGDocument) this.getSVGDocument().documentElement.style.cursor='pointer';", style: "pointer-events: none;", type: "image/svg+xml", width: "136px", id: "gnav-logo"}
      %nav
        %ul
          %li
            %a{href: "/index.html#section-detail"}
              Detail
          %li
            %a{href: "/index.html#section-time-table"}
              Time Table
          %li
            %a{href: "/index.html#section-speaker"}
              Speaker
          %li
            %a{href: "/index.html#section-lt"}
              LT
          %li
            %a{href: "/index.html#section-team"}
              Team
    .kv-box
      .kv-text
        %h1
          %object{data: "assets/img/logo-white.svg", object: "", onload: "if (this.getSVGDocument) this.getSVGDocument().documentElement.style.cursor='pointer';", style: "pointer-events: none;", type: "image/svg+xml"}
        %h2
          Sunday, June 1st at 1:30pm (1pm door open)
        .bt-box
          %a{href: "http://githubkaigi.doorkeeper.jp/events/11081", class: "kv-btn-registration", target: "_blank", target: "_blank"}
            %span Register
      %img{src: "assets/img/saketocat.png", alt: "Octcat Image", class: "kv-octcat"}