.footer
  padding: 2em 1em
  .copy
    float: left
    margin-bottom: 5px
    font-size: 85%
    color: #ccc
  .sns
    text-align: right
    margin: 0
    padding: 0
    @media #{$small}
      text-align: left
      margin-bottom: 1%
    .btn
      float: left
      margin-right: 20px
      @media #{$small}
        margin-right: 5px
    .twbtn
      width: 80px
    .fb_iframe_widget > span
      vertical-align: baseline !important
