---
title     : GitHub Kaigi
bodyclass : index
layout    : layout
---

#main
  .conetnt.info-bar
    .text
      :markdown
        # Details

        ## What?

        GitHub KaigiはGitHub User Group主催のイベントであり、GitHubの正式なイベントではありません。

        GitHub Kaigi is an event organized by the GitHub User Group and is not an official GitHub event.

        ## Where

        CyberAgent, Inc.
        SHIBUYA MARK CITY WEST

        Google Map