---
title     : GitHub Kaigi
bodyclass : index
layout    : layout
---

#main
  .text
    %section#section-detail.cols
      .col
        %h1 Details

      .col4
        %h2 What?
        %p
          GitHub KaigiはGitHub User Group主催のイベントであり、GitHubの正式なイベントではありません。
        %p
          GitHub Kaigi is an event organized by the GitHub User Group and is not an official GitHub event.

      .col4
        %h2 Where
        %p
          %a{href: "#", target: "_blank"} CyberAgent, Inc.
          %br
          SHIBUYA MARK CITY WEST
        %p
          %a{href: "#", target: "_blank"} Google Map

      .col4
        %h2 When?
        %p
          Sunday, June 1st 2014,
          1:00pm until 7:00pm

      .col4
        %h2 How?
        %p
          Doorkeeperから参加登録ができます
        %a{href: "#"}
          Registration

    %section#section-time-table.cols
      .col
        %h1 Time table

      .col
        %ul.time-table-list
          - 10.times.each do
            %li
              .head
                .time
                  1:00 to 1:30
                .speaker-name
                  test
              .body
                Sign in and warm up

    %section#section-speaker.cols
      .col
        %h1 Spearker

      .col
        %ul.speaker-list
          - 4.times.each do
            %li.speaker-list-item
              .avatar
                %a{href: "#", target: "_blank"}
                  %img{src: "", alt: ""}
              .names
                .fullname
                  Full Name
                .username
                  User Name
              .detail
                %i.icon-user
                Work Place
